<template>
  <div class="mdl-grid">
    <div class="mdl-cell mdl-cell--8-col">
      <div class="picture">
        <img :src="this.pictures[$route.params.id].url" />
      </div>
      <div class="info">
        <span>{{ this.pictures[$route.params.id].info }}</span>
      </div>
    </div>
    <div class="mdl-cell mdl-cell--4-col mdl-cell--8-col-tablet">
      <div class="comment">
        <span>{{ this.pictures[$route.params.id].comment }}</span>
      </div>
      <div class="actions">
        <span>Luminosite</span>
        <a @click.prevent="luminositemoins()" class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored">
        -
        </a>
        <a @click.prevent="luminositeplus()" class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored">
        +
        </a>
      </div>
    </div>
    <div class="mdl-cell mdl-cell--4-col mdl-cell--8-col-tablet">
      <div class="actions">
        <span>    Volume</span>
        <a @click.prevent="volumemoins()" class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored">
        -
        </a>
        <a @click.prevent="volumeplus()" class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored">
        +
        </a>
      </div>
    </div>
  </div>
</template>
<script>
  import data from '../data'
  import axios from 'axios'
  export default {
    methods: {
      luminositemoins () {
        // const path = 'http://10.110.6.200:5000/luminosite/moins'
        const path = 'http://192.168.0.183:5000/luminosite/moins'
        const payload = ''
        axios.post(path, payload)
          .then(() => {
            // eslint-disable-next-line
            console.log('ok');
          })
          .catch((error) => {
            // eslint-disable-next-line
            console.log(error);
          })
      },
      luminositeplus () {
        // const path = 'http://10.110.6.200:5000/luminosite/plus'
        const path = 'http://192.168.0.183:5000/luminosite/plus'
        const payload = ''
        axios.post(path, payload)
          .then(() => {
            // eslint-disable-next-line
            console.log('ok');
          })
          .catch((error) => {
            // eslint-disable-next-line
            console.log(error);
          })
      },
      volumemoins () {
        // const path = 'http://10.110.6.200:5000/volume/moins'
        const path = 'http://192.168.0.183:5000/volume/moins'
        const payload = ''
        axios.post(path, payload)
          .then(() => {
            // eslint-disable-next-line
            console.log('ok');
          })
          .catch((error) => {
            // eslint-disable-next-line
            console.log(error);
          })
      },
      volumeplus () {
        // const path = 'http://10.110.6.200:5000/volume/plus'
        const path = 'http://192.168.0.183:5000/volume/plus'
        const payload = ''
        axios.post(path, payload)
          .then(() => {
            // eslint-disable-next-line
            console.log('ok');
          })
          .catch((error) => {
            // eslint-disable-next-line
            console.log(error);
          })
      }
    },
    data () {
      return {
        'pictures': data.pictures
      }
    }
  }
</script>
<style scoped>
  .picture > img {
    color: #fff;
    width:100%;
  }
  .info {
    text-align: right;
    padding: 5px;
    color: #555;
    font-size: 10px;
  }
  .comment {
    padding: 10px;
    color: #555;
  }
  .actions {
    text-align: center;
  }
</style>
