<template>
  <div>
    <div class="mdl-grid">
       <div class="mdl-cell mdl-cell--3-col mdl-cell mdl-cell--1-col-tablet mdl-cell--hide-phone"></div>
        <div class="mdl-cell mdl-cell--6-col mdl-cell--4-col-phone">
            <div v-for="picture in this.pictures" class="image-card" @click="ope(picture.id)">
              <div class="image-card__picture">
                <img :src="picture.url" />
              </div>
              <div class="image-card__comment mdl-card__actions">
                <span>{{ picture.comment }}</span>
              </div>
            </div>
	</div>
      </div>
    </div>
  </div>
</template>
<script>
  import data from '../data'
  import axios from 'axios'
  export default {
    methods: {
      openuit (id) {
        // const path = 'http://10.110.6.200:5000/nuit'
        const path = 'http://192.168.0.183:5000/nuit'
        const payload = ''
        axios.post(path, payload)
          .then(() => {
            // eslint-disable-next-line
            console.log('ok');
          })
          .catch((error) => {
            // eslint-disable-next-line
            console.log(error);
          })
        this.$router.push({name: 'detail', params: { id: id }})
      },
      opezen (id) {
        // const path = 'http://10.110.6.200:5000/zen'
        const path = 'http://192.168.0.183:5000/zen'
        const payload = ''
        axios.post(path, payload)
          .then(() => {
            // eslint-disable-next-line
            console.log('ok');
          })
          .catch((error) => {
            // eslint-disable-next-line
            console.log(error);
          })
        this.$router.push({name: 'detail', params: { id: id }})
      },
      opetravail (id) {
        // const path = 'http://10.110.6.200:5000/travail'
        const path = 'http://192.168.0.183:5000/travail'
        const payload = ''
        axios.post(path, payload)
          .then(() => {
            // eslint-disable-next-line
            console.log('ok');
          })
          .catch((error) => {
            // eslint-disable-next-line
            console.log(error);
          })
        this.$router.push({name: 'detail', params: { id: id }})
      },
      opefun (id) {
        // const path = 'http://10.110.6.200:5000/fun'
        const path = 'http://192.168.0.183:5000/fun'
        const payload = ''
        axios.post(path, payload)
          .then(() => {
            // eslint-disable-next-line
            console.log('ok');
          })
          .catch((error) => {
            // eslint-disable-next-line
            console.log(error);
          })
        this.$router.push({name: 'detail', params: { id: id }})
      },
      ope (myope) {
        if (myope === 0) {
          this.openuit(0)
        } else if (myope === 1) {
          this.opezen(1)
        } else if (myope === 2) {
          this.opetravail(2)
        } else if (myope === 3) {
          this.opefun(3)
        }
      }
    },
    data () {
      return {
        'pictures': data.pictures
      }
    }
  }
</script>
<style scoped>
  .add-picture-button {
    position: fixed;
    right: 24px;
    bottom: 24px;
    z-index: 998;
  }
  .image-card {
    position: relative;
    margin-bottom: 8px;
    border-style: solid;
  }
  .image-card__picture > img {
    width:100%;
  }
  .image-card__comment {
    position: absolute;
    bottom: 0;
    height: 52px;
    padding: 16px;
    text-align: right;
    background: rgba(0, 0, 0, 0.5);
  }
  .image-card__comment > span {
    color: #fff;
    font-size: 14px;
    font-weight: bold;
  }
</style>
