<template>
  <div>
    <h2 class="mdl-layout-title">Affichez la meteolaumio !! </h2>
    <div class="mdl-grid">
       <div class="mdl-cell mdl-cell--3-col mdl-cell mdl-cell--1-col-tablet mdl-cell--hide-phone"></div>
        <div class="mdl-cell mdl-cell--6-col mdl-cell--4-col-phone">
            <div v-for="ville in this.villes" class="image-card" @click="meteo(ville.info)">
              <div class="image-card__picture">
                <img :src="ville.url" />
              </div>
              <div class="image-card__comment mdl-card__actions">
                <span>{{ ville.comment }}</span>
              </div>
            </div>
	     </div>
      </div>
    </div>
  </div>
</template>
<script>
  import data from '../data'
  import axios from 'axios'
  export default {
    methods: {
      meteo (info) {
        // const path = 'http://10.110.6.200:5000/meteo'
        const path = 'http://192.168.0.183:5000/meteo'
        const payload = {
          ville: info
        }
        axios.post(path, JSON.stringify(payload))
          .then(() => {
            // eslint-disable-next-line
            console.log('ok');
          })
          .catch((error) => {
            // eslint-disable-next-line
            console.log(error);
          })
      }
    },
    data () {
      return {
        'villes': data.villes
      }
    }
  }
</script>
<style scoped>
  .add-picture-button {
    position: fixed;
    right: 24px;
    bottom: 24px;
    z-index: 998;
  }
  .image-card {
    position: relative;
    margin-bottom: 8px;
    border-style: solid;
  }
  .image-card__picture > img {
    width:80%;
    height:80%;
  }
  .image-card__comment {
    position: absolute;
    bottom: 0;
    height: 52px;
    padding: 16px;
    text-align: right;
    background: rgba(0, 0, 0, 0.5);
  }
  .image-card__comment > span {
    color: #fff;
    font-size: 14px;
    font-weight: bold;
  }
</style>
