<template>
  <div>
     <h2 class="mdl-layout-title">Programmez votre scénario !! </h2>
        <b-form @submit="onSubmit" @reset="onReset" >
          <b-form-group id="declencheurGroupe" label="<code>Declencheur</code>">
            <b-form-checkbox-group v-model="form.checkedD" id="declencheurChecks">
              <b-form-checkbox value="proche">Proche</b-form-checkbox>
              <b-form-checkbox value="loin">Loin</b-form-checkbox>
              <b-form-checkbox value="bouton1">Bouton 1</b-form-checkbox>
              <b-form-checkbox value="bouton2">Bouton 2</b-form-checkbox>
              <b-form-checkbox value="bouton3">Bouton 3</b-form-checkbox>
              <b-form-checkbox value="bouton4">Bouton 4</b-form-checkbox>
            </b-form-checkbox-group>
          </b-form-group>
          <b-form-group id="ambianceGroupe" label="<code>Type d'ambiance</code>">
            <b-form-checkbox-group v-model="form.checkedA" id="ambianceChecks">
              <b-form-checkbox value="nuit">Nuit</b-form-checkbox>
              <b-form-checkbox value="zen">Zen</b-form-checkbox>
              <b-form-checkbox value="travail">Travail</b-form-checkbox>
              <b-form-checkbox value="fun">Fun</b-form-checkbox>
            </b-form-checkbox-group>
          </b-form-group>
          <b-form-group id="musiqueGroupe" label="<code>Volume musique</code>">
            <b-form-checkbox-group v-model="form.checkedM" id="musiqueChecks">
              <b-form-checkbox value="faible">Faible</b-form-checkbox>
              <b-form-checkbox value="moyenne">Moyen</b-form-checkbox>
              <b-form-checkbox value="forte">Fort</b-form-checkbox>
              <b-form-checkbox value="eteinte">Eteinte</b-form-checkbox>
            </b-form-checkbox-group>
          </b-form-group>
          <b-form-group label="<code>Zone (groupe de laumios)</code>">
            <b-form-radio-group id="btnradios2"
                          buttons
                          button-variant="outline-primary"
                          size="lg"
                          v-model="form.selected"
                          :options="options"
                          name="radioBtnOutline" />
          </b-form-group>
          <b-button type="submit" variant="primary">Submit</b-button>
          <b-button type="reset" variant="danger">Reset</b-button>
        </b-form>
  </div>
</template>
<script>
  import axios from 'axios'
  export default {
    data () {
      return {
        options: [
          { text: 'Zone 1', value: '1' },
          { text: 'Zone 2', value: '2' },
          { text: 'Zone 3', value: '3' }
        ],
        form: {
          checkedD: '',
          checkedM: '',
          checkedA: '',
          selected: '2'
        },
        show: true
      }
    },
    methods: {
      onSubmit (evt) {
        evt.preventDefault()
        // alert(JSON.stringify(this.form))
        const payload = {
          evenement: this.form.checkedD[0],
          action: {
            lumiere: this.form.checkedA[0],
            musique: this.form.checkedM[0],
            zone: this.form.selected
          }
        }
        // alert(JSON.stringify(payload))
        this.scenario(payload)
      },
      onReset (evt) {
        evt.preventDefault()
        /* Reset our form values */
        this.form.checkedA = []
        this.form.checkedM = []
        this.form.checkedD = []
        this.form.selected = '3'
        /* Trick to reset/clear native browser form validation state */
        this.show = false
        this.$nextTick(() => { this.show = true })
      },
      scenario (payload) {
        // const path = 'http://10.110.6.200:5000/scenario'
        const path = 'http://192.168.0.183:5000/scenario'
        axios.post(path, JSON.stringify(payload))
          .then(() => {
            // eslint-disable-next-line
            console.log('ok');
          })
          .catch((error) => {
            // eslint-disable-next-line
            console.log(error);
          })
      }
    }
  }
</script>
<style scoped>
  .picture > img {
    color: #fff;
    width:100%;
  }
  .info {
    text-align: right;
    padding: 5px;
    color: #555;
    font-size: 10px;
  }
  .comment {
    padding: 10px;
    color: #555;
  }
  .actions {
    text-align: center;
  }
</style>
