<template>
  <div>
    <div class="mdl-grid">
       <div class="mdl-cell mdl-cell--3-col mdl-cell mdl-cell--1-col-tablet mdl-cell--hide-phone"></div>
        <div class="mdl-cell mdl-cell--6-col mdl-cell--4-col-phone">
            <div v-for="scenario in this.scenarii" class="image-card" @click="ope(scenario.id)">
              <div class="image-card__picture">
                {{ scenario.comment }}
              </div>
            </div>
	</div>
      </div>
    </div>
  </div>
</template>
<script>
  import scenarii from '../scenarii'
  export default {
    methods: {
      ope (id) {
        this.$router.push({name: 'suite', params: { id: id }})
      }
    },
    scenarii () {
      return {
        'scenarii': scenarii.scenarii
      }
    }
  }
</script>
<style scoped>
  .add-picture-button {
    position: fixed;
    right: 24px;
    bottom: 24px;
    z-index: 998;
  }
  .image-card {
    position: relative;
    margin-bottom: 8px;
    border-style: solid;
  }
  .image-card__picture > img {
    width:100%;
  }
  .image-card__comment {
    position: absolute;
    bottom: 0;
    height: 52px;
    padding: 16px;
    text-align: right;
    background: rgba(0, 0, 0, 0.5);
  }
  .image-card__comment > span {
    color: #fff;
    font-size: 14px;
    font-weight: bold;
  }
</style>
